<div class="card tools shadow rounded">
    <div class="tool-head">
        <fa name="gear" animation="spin"></fa>
    </div>
    <div class="tool-box">
      <div class="tool" (click)="chooseTool('pencil')">
        <fa name="pencil"></fa>
      </div>
      <div class="tool" (click)="chooseTool('eraser')">
        <fa name="eraser"></fa>
      </div>
      <div class="tool" (click)="chooseTool('square')">
        <fa name="square-o"></fa>
      </div>
      <div class="tool" (click)="chooseTool('circle')">
        <fa name="circle-o"></fa>
      </div>
      <div class="tool" (click)="chooseTool('triangle')">
        <fa name="triangle"></fa>
      </div>
    </div>
  </div>