<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-md-10">
        <h2 class="board-title">{{ title }}</h2>
    </div>
  </div>
  <div class="row canvas-wrapper">
    <div class="col-md-10 canvas-board" >
        <craftboard></craftboard>
    </div>
    <div class="col-md-2">
      <div class="card tools shadow rounded">
        <div class="tool-head">
            <fa name="gear" animation="spin"></fa>
        </div>
        <div class="tool-box">
          <div class="tool">
            <fa name="pencil"></fa>
          </div>

          <div class="tool">
            <fa name="eraser"></fa>
          </div>
          <div class="tool">
            <fa name="square-o"></fa>
          </div>
          <div class="tool">
            <fa name="circle-o"></fa>
          </div>
          <div class="tool">
            <fa name="triangle"></fa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



